.App{
  background: url(https://i.ibb.co/qdJ5WmT/BG.jpg);
  background-repeat: no-repeat;
background-size: cover;
}



:root {
  --animate-duration: 800ms;
  --animate-delay: 0.9s;
}


.img{
  width: 600px;
  text-align: center;
}


h1{
  font-weight: 600;
}
.btn{
  padding: 10px 50px !important;
  border-radius: 40px !important;
}

.gas{
  color: #031633;
}


.animate__animated.animate__bounce {
  --animate-duration: 2s;
}


